
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MovieList</title>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/JS/MovieDbJQuery.js"></script>
</head>
<body>
    <div class="container">
        <p><button id="getMs">Show Movies</button></p>
        <h3>Movies:</h3>
        <ul id="mList"></ul>
    </div>
</body>
</html>
